.mat-toolbar-row {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  height: 120px;
  padding: 1rem;

  background: rgb(52 53 53 / 50%);
}

.menu {
  display: flex;
  gap: 10px;
}
