@use './app/styles/base.scss';
@use '@angular/material' as mat;

@include mat.core;

$theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: mat.$rose-palette,
    ),
    density: (
      scale: -1,
    ),
  )
);

html {
  @include mat.all-component-themes($theme);
}
