<mat-card *ngIf="card" class="card" appearance="outlined">
  <mat-card-header>
    <div class="image">
      <img mat-card-image src="{{ card.imageLink }}" alt="Photo" />
    </div>
  </mat-card-header>
  <mat-card-title-group>
    <mat-card-title>{{ card.title }}</mat-card-title>
  </mat-card-title-group>
  <mat-card-content class="card-content">
    <div class="desc-text">{{ card.description }}</div>
  </mat-card-content>
  <mat-card-footer>
    <app-button
      (click)="deleteCard(card.id)"
      colorButton="primary"
      text="Delete"></app-button>
  </mat-card-footer>
</mat-card>
