<mat-card
  class="card"
  appearance="outlined"
  appBorderBottomColor
  [publishTime]="video.snippet.publishedAt">
  <mat-card-header>
    <img
      mat-card-image
      src="{{ video.snippet.thumbnails.medium.url }}"
      alt="Photo" />
  </mat-card-header>
  <mat-card-content>
    <p class="statistics-icon">
      <app-statistics-icon
        fontIcon="remove_red_eye"
        [text]="video.statistics.viewCount"></app-statistics-icon>
      <app-statistics-icon
        fontIcon="thumb_up"
        [text]="video.statistics.likeCount"></app-statistics-icon>
      <app-statistics-icon
        fontIcon="thumb_down"
        [text]="video.statistics.dislikeCount"></app-statistics-icon>
      <app-statistics-icon
        fontIcon="chat"
        [text]="video.statistics.commentCount"></app-statistics-icon>
    </p>
  </mat-card-content>
  <mat-card-title-group>
    <mat-card-title>{{ video.snippet.title }}</mat-card-title>
  </mat-card-title-group>
  <mat-card-actions>
    <app-button colorButton="primary" text="More"></app-button>
  </mat-card-actions>
  <mat-card-footer> </mat-card-footer>
</mat-card>
