<form [formGroup]="loginForm" class="login-form" (submit)="login()">
  <h3>Login</h3>

  <mat-form-field appearance="outline">
    <mat-label>Email</mat-label>
    <input matInput formControlName="username" type="email" />
  </mat-form-field>
  <app-error formControlName="username"></app-error>

  <mat-form-field appearance="outline">
    <mat-label>Password</mat-label>
    <input matInput type="password" formControlName="password" />
    <app-icon fontIcon="visibility_off" text=""></app-icon>
  </mat-form-field>
  <app-error formControlName="password"></app-error>

  <app-button colorButton="primary" text="Login"></app-button>
</form>
