<form action="" class="search-form">
  <mat-form-field appearance="fill" class="search-input">
    <input
      matInput
      type="search"
      [(ngModel)]="searchValue"
      [ngModelOptions]="{ standalone: true }" />
    <!-- <button matSuffix mat-icon-button aria-label="Clear">
      <mat-icon>close</mat-icon>
    </button> -->
  </mat-form-field>
  <app-button colorButton="primary" text="Search"></app-button>
  <app-button
    colorButton="accent"
    buttonIcon="tune"
    (click)="toggleFilters()"></app-button>
</form>
