:host {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 1rem;
}

.filtering {
  display: flex;
  justify-content: center;
  align-items: center;
}

mat-button-toggle-group {
  margin: 0 12px;
}

::ng-deep .mat-button-toggle .mat-pseudo-checkbox  {
  display: none;
}
