:host {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  padding: 1rem;
}

.filtering {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sorting-buttons {
  display: flex;
  gap: 3px;
  margin: 0 8px;
}

.title-filter {
  margin-right: 4px;
}
